* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.headerIndex .navIndex {
  background-color: black; }
  .headerIndex .navIndex .container-fluid .logo {
    margin-left: 2rem; }
  .headerIndex .navIndex .navbar-collapse .navbar-nav .navCategoria:hover {
    color: #1ed760; }

@media (min-width: 768px) {
  .headerIndex .navIndex .container-fluid .logo {
    margin-left: 2rem;
    font-size: 2rem; }
  .headerIndex .navIndex .navbar-collapse .navbar-nav .navCategoria {
    font-size: 1.2rem;
    margin-left: 1.5rem; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: row;
    justify-content: flex-end; }
    .navbar-expand-lg .navbar-collapse .navbar-nav {
      margin-top: 1rem; }
      .navbar-expand-lg .navbar-collapse .navbar-nav .navCategoria {
        font-size: 1.2rem;
        align-items: center; } }

/*********Main Index*********/
.mainIndex {
  background-color: #96f0b6;
  height: 600px;
  display: flex;
  flex-direction: column; }
  .mainIndex .h2Novedades {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #202f72;
    border-bottom: 1px solid #202f72; }
  .mainIndex .carousel .carousel-inner .carousel-item .imgNovedades {
    height: 25rem;
    padding: 1rem; }

.divButton {
  display: flex;
  justify-content: center; }
  .divButton .buttonNovedades {
    color: #202f72;
    width: 20rem;
    margin-top: 2rem;
    height: 4rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    border-color: #202f72; }
    .divButton .buttonNovedades:hover {
      background-color: #202f72;
      color: #96f0b6; }

@media (min-width: 768px) {
  .imgNovedades {
    height: 25rem;
    padding: 1rem;
    width: 35rem; } }

@media (min-width: 992px) {
  .carousel {
    align-self: center; }
    .carousel .carousel-inner {
      align-self: center;
      width: 800px; }
  .divButton {
    align-self: center; }
    .divButton .buttonNovedades {
      margin-left: 0rem; } }

/*********Main Novedades**********/
.novedades__main {
  display: flex;
  flex-direction: row;
  background-color: #242424;
  height: auto; }
  .novedades__main .novedades__main__secundaria {
    background-color: #242424;
    width: 220px; }
    .novedades__main .novedades__main__secundaria .novedades__main__secundaria__cuerpo {
      display: flex;
      flex-direction: column;
      margin-left: 0.5rem;
      display: flex;
      flex-direction: column;
      margin-left: 0.5rem;
      margin-top: 2rem;
      background-color: #2941ab;
      margin-right: 0.5rem;
      border-radius: 0.7rem;
      align-items: center; }
      .novedades__main .novedades__main__secundaria .novedades__main__secundaria__cuerpo:hover {
        background-color: #455ab6; }
      .novedades__main .novedades__main__secundaria .novedades__main__secundaria__cuerpo .novedades__h2Destacado {
        color: #1ed760;
        font-size: larger;
        margin-left: 0.5rem; }
      .novedades__main .novedades__main__secundaria .novedades__main__secundaria__cuerpo .novedades__imgDestacado {
        width: 7rem; }
      .novedades__main .novedades__main__secundaria .novedades__main__secundaria__cuerpo .novedades__textoDestacado {
        color: black;
        width: 7rem;
        border-radius: 0.7rem;
        background-color: #1ed75fb6;
        margin-top: 0.3rem;
        margin-bottom: 0.4rem;
        text-align: -webkit-center; }
  .novedades__main .novedades__main__principal {
    background-color: #96f0b6;
    width: -webkit-fill-available; }
    .novedades__main .novedades__main__principal .novedades__main__principal__cuerpo {
      display: flex;
      flex-direction: column;
      margin-left: 1rem; }
      .novedades__main .novedades__main__principal .novedades__main__principal__cuerpo .novedades__main__principal__cuerpo_categoria {
        display: flex;
        flex-direction: column;
        margin-right: 0.2rem;
        margin-top: 2rem; }
        .novedades__main .novedades__main__principal .novedades__main__principal__cuerpo .novedades__main__principal__cuerpo_categoria .h2Categoria {
          color: #202f72;
          margin-bottom: 0;
          border-bottom: 1px solid #202f724b; }
        .novedades__main .novedades__main__principal .novedades__main__principal__cuerpo .novedades__main__principal__cuerpo_categoria .elementoPadre {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start; }
          .novedades__main .novedades__main__principal .novedades__main__principal__cuerpo .novedades__main__principal__cuerpo_categoria .elementoPadre .elementoHijo {
            background-color: #242424;
            width: 5rem;
            height: 7rem;
            border-radius: 1rem;
            margin: 0.2rem;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            overflow: hidden; }
            .novedades__main .novedades__main__principal .novedades__main__principal__cuerpo .novedades__main__principal__cuerpo_categoria .elementoPadre .elementoHijo:hover {
              background-color: #3d3d3d; }
            .novedades__main .novedades__main__principal .novedades__main__principal__cuerpo .novedades__main__principal__cuerpo_categoria .elementoPadre .elementoHijo .imgLanzamiento {
              height: 4rem; }

@media (min-width: 768px) {
  .novedades__main .novedades__main__principal .novedades__main__principal__cuerpo .novedades__main__principal__cuerpo_categoria .elementoPadre .elementoHijo {
    width: 8rem;
    height: 10rem; }
    .novedades__main .novedades__main__principal .novedades__main__principal__cuerpo .novedades__main__principal__cuerpo_categoria .elementoPadre .elementoHijo:hover {
      background-color: #3d3d3d; }
    .novedades__main .novedades__main__principal .novedades__main__principal__cuerpo .novedades__main__principal__cuerpo_categoria .elementoPadre .elementoHijo .imgLanzamiento {
      height: 7rem; } }

/********main registro*******/
.section__contacto {
  margin: 1rem; }
  .section__contacto .section__formulario .col-sm-10 {
    margin-bottom: 1rem; }

.noticiasIndex {
  background-color: #F46EBE;
  height: 730px;
  display: flex;
  flex-direction: column; }
  .noticiasIndex .h2Noticias {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #202f72;
    border-bottom: 1px solid #202f72; }
  .noticiasIndex .divNoticiaPadre {
    overflow: auto; }
    .noticiasIndex .divNoticiaPadre .divNoticia {
      margin-right: 10px;
      float: left;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #202f721c; }
      .noticiasIndex .divNoticiaPadre .divNoticia .imgNoticia {
        width: 10rem;
        margin-left: 1rem;
        margin-top: 1rem; }
      .noticiasIndex .divNoticiaPadre .divNoticia .textoNoticia {
        margin-top: 2rem;
        background-color: rgba(255, 255, 255, 0.301);
        border-radius: 1rem;
        width: auto;
        height: auto; }
        .noticiasIndex .divNoticiaPadre .divNoticia .textoNoticia .encabezadoNoticia {
          margin-left: 0.5rem;
          font-size: large; }
        .noticiasIndex .divNoticiaPadre .divNoticia .textoNoticia .cuerpoNoticia {
          margin-left: 0.5rem;
          font-size: small; }
  .noticiasIndex .divButtonNoticias {
    display: flex;
    justify-content: center; }
    .noticiasIndex .divButtonNoticias .buttonNoticias {
      color: #202f72;
      width: 20rem;
      margin-top: 2rem;
      height: 4rem;
      border-radius: 2rem;
      font-size: 1.5rem;
      border-color: #202f72; }
      .noticiasIndex .divButtonNoticias .buttonNoticias:hover {
        background-color: #202f72;
        color: #F46EBE; }

@media (min-width: 768px) {
  .noticiasIndex .divNoticiaPadre .divNoticia .textoNoticia {
    width: auto;
    height: auto; }
    .noticiasIndex .divNoticiaPadre .divNoticia .textoNoticia .cuerpoNoticia {
      margin-left: 0.5rem;
      font-size: large; } }

@media (min-width: 1024px) {
  .noticiasIndex {
    height: 770px; }
    .noticiasIndex .divNoticiaPadre .divNoticia .textoNoticia {
      width: auto;
      height: auto; }
      .noticiasIndex .divNoticiaPadre .divNoticia .textoNoticia .encabezadoNoticia {
        font-size: x-large; }
      .noticiasIndex .divNoticiaPadre .divNoticia .textoNoticia .cuerpoNoticia {
        margin-left: 0.5rem;
        font-size: larger; } }

.asideIndex {
  display: flex;
  flex-direction: column; }
  .asideIndex .destacadoIndex {
    background-color: #2941ab;
    height: 420px; }
    .asideIndex .destacadoIndex .h2Destacados {
      margin-top: 1rem;
      margin-left: 1rem;
      color: #1ed760;
      border-bottom: 1px solid #202f72; }
    .asideIndex .destacadoIndex .divDestacados {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .asideIndex .destacadoIndex .divDestacados .imgDestacados {
        width: 15rem;
        margin-left: 2rem;
        margin-right: 1rem; }
        .asideIndex .destacadoIndex .divDestacados .imgDestacados:hover {
          transform: scale(1.1, 1.1); }
      .asideIndex .destacadoIndex .divDestacados .textoDestacados {
        margin-top: 1rem;
        margin-left: 2.4rem;
        font-size: 1.2rem;
        background-color: #1ed75fb6;
        width: 14rem;
        border-radius: 0.5rem;
        text-align: center; }
      .asideIndex .destacadoIndex .divDestacados .linkDestacados {
        color: white;
        align-self: flex-end;
        margin-right: 3rem; }
  .asideIndex .forosIndex {
    background-color: #96f0b6;
    height: 420px; }
    .asideIndex .forosIndex .h2Foros {
      margin-top: 1rem;
      margin-left: 1rem;
      color: #202f72;
      border-bottom: 1px solid #202f72; }
    .asideIndex .forosIndex .listaForos .h3Foros {
      margin-left: 2rem;
      font-size: 1.3rem;
      border-bottom: 1px solid #00000091; }
    .asideIndex .forosIndex .listaForos .generalForos {
      overflow: auto;
      background-color: rgba(245, 245, 245, 0.336);
      height: 18rem;
      margin-left: 2rem;
      border-radius: 1rem; }
      .asideIndex .forosIndex .listaForos .generalForos .itemForos {
        height: 1.5rem;
        overflow: hidden;
        border-bottom: solid 1px #00000033; }
        .asideIndex .forosIndex .listaForos .generalForos .itemForos:hover {
          background-color: rgba(245, 245, 245, 0.466);
          height: auto; }

@media (min-width: 992px) {
  .asideIndex {
    display: flex;
    flex-direction: row; } }

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center; }
  footer .divFooter {
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row; }
    footer .divFooter .idiomaFooter {
      display: flex;
      flex-direction: column; }
      footer .divFooter .idiomaFooter .h3Footer {
        border-bottom: white solid 1px; }
      footer .divFooter .idiomaFooter .itemFooter {
        color: white; }
        footer .divFooter .idiomaFooter .itemFooter:hover {
          color: #1ed760; }
    footer .divFooter .asistenciaFooter {
      display: flex;
      flex-direction: column;
      margin-left: 1rem; }
      footer .divFooter .asistenciaFooter .h3Footer {
        border-bottom: white solid 1px; }
      footer .divFooter .asistenciaFooter .itemFooter {
        color: white; }
        footer .divFooter .asistenciaFooter .itemFooter:hover {
          color: #1ed760; }
    footer .divFooter .redesFooter {
      display: flex;
      flex-direction: column;
      margin-left: 1rem; }
      footer .divFooter .redesFooter .h3Footer {
        border-bottom: white solid 1px; }
      footer .divFooter .redesFooter .itemFooter {
        color: white; }
        footer .divFooter .redesFooter .itemFooter:hover {
          color: #1ed760; }

@media (min-width: 992px) {
  footer .divFooter .asistenciaFooter {
    margin-left: 7rem; }
  footer .divFooter .redesFooter {
    margin-left: 7rem; } }
