/*********Main Index*********/
.mainIndex{
    background-color: $color-background1;
    height: 600px;
    display: flex;
    flex-direction: column;
    .h2Novedades{
        margin-top: 1rem;
        margin-left: 1rem;
        color: $color-h2;
        border-bottom: 1px solid $color-h2;
    }
    .carousel{
        .carousel-inner{
            .carousel-item{
                .imgNovedades{
                    height: 25rem;
                    padding: 1rem;
                }
            }
        }
    }
}
.divButton{
    display: flex;
    justify-content: center;
    .buttonNovedades{
        color: $color-h2;
        width: 20rem;
        margin-top: 2rem;
        height: 4rem;
        border-radius: 2rem;
        font-size: 1.5rem;
        border-color: $color-h2;
        &:hover{
            background-color: $color-h2;
            color: #96f0b6;
        }
    }
}
@media (min-width: 768px){
    .imgNovedades{
        height: 25rem;
        padding: 1rem;
        width: 35rem;
    }
}
@media (min-width: 992px){
    .carousel{
        align-self: center;
        .carousel-inner{
        align-self: center;
        width: 800px;
        }
    }
    .divButton{
        align-self: center;
        .buttonNovedades{
            margin-left: 0rem;
        }
    }

}
/*********Main Novedades**********/
.novedades__main{
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 36, 36);
    height: auto;
    .novedades__main__secundaria{
        background-color: rgb(36, 36, 36) ;
        width: 220px;
        .novedades__main__secundaria__cuerpo{
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;
            margin-top: 2rem;
            background-color: $color-background3;
            margin-right: 0.5rem;
            border-radius: 0.7rem;
            align-items: center;
            &:hover{
                background-color: rgb(69, 90, 182);;
            }
            .novedades__h2Destacado{
                color: $color-spotify;
                font-size: larger;
                margin-left: 0.5rem;
            }
            .novedades__imgDestacado{
                width: 7rem;
            }
            .novedades__textoDestacado{
                color: black;
                width: 7rem;
                border-radius: 0.7rem;
                background-color: #1ed75fb6;
                margin-top: 0.3rem;
                margin-bottom: 0.4rem;
                text-align: -webkit-center;
            }
        }
    }
    .novedades__main__principal{
        background-color: $color-background1;
        width: -webkit-fill-available;
        .novedades__main__principal__cuerpo{
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            .novedades__main__principal__cuerpo_categoria{
                display: flex;
                flex-direction: column;
                margin-right: 0.2rem;
                margin-top: 2rem;
                .h2Categoria{
                    color: $color-h2;
                    margin-bottom: 0;
                    border-bottom: 1px solid #202f724b;
                }
                .elementoPadre{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    .elementoHijo{
                        background-color: rgb(36, 36, 36);
                        width: 5rem;
                        height: 7rem;
                        border-radius: 1rem;
                        margin: 0.2rem;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        &:hover{
                            background-color: rgb(61, 61, 61);
                        }
                        .imgLanzamiento{
                            height: 4rem;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px){
    .novedades__main{
        .novedades__main__principal{
            .novedades__main__principal__cuerpo{
                .novedades__main__principal__cuerpo_categoria{
                    .elementoPadre{   
                        .elementoHijo{
                            width: 8rem;
                            height: 10rem;
                            &:hover{
                                background-color: rgb(61, 61, 61);
                            }
                            .imgLanzamiento{
                                height: 7rem;
                            }
                        }
                    }
                }
            }
        }
    } 
}

/********main registro*******/
.section__contacto{
    margin: 1rem;
    .section__formulario{
        .col-sm-10{
            margin-bottom: 1rem;
        }
    }
}
